
html
{
  height: 100%;
  margin: 0;
  padding: 0;
  padding-inline-start: unset;
  //-webkit-margin-before: 0;
  //-webkit-margin-after: 0;
}

body
{
  min-height:100%; 
  position:relative; 
  padding-bottom: 110px; 
}