mixin bg-slider(modifier)
  ul.bg-slider&attributes(attributes)
    li.bg-slider__img(id="bg_id_1" style="background-image: url(img/bg_img_10.jpg);  opacity: 1;")
    li.bg-slider__img(id="bg_id_2" style="background-image: url(img/bg_img_1.JPG);")
    li.bg-slider__img(id="bg_id_3" style="background-image: url(img/bg_img_2.JPG);")
    li.bg-slider__img(id="bg_id_4" style="background-image: url(img/bg_img_3.JPG);")
    li.bg-slider__img(id="bg_id_5" style="background-image: url(img/bg_img_4.JPG);")
    li.bg-slider__img(id="bg_id_6" style="background-image: url(img/bg_img_5.JPG);")