mixin bg-slider(imgNames, modifier)
  ul.bg-slider&attributes(attributes)
    each i_img, index in imgNames
      li.bg-slider__img(id="bg_id_"+String(index+1) style="background-image: url("+i_img+");") 