mixin bg-slider(modifier)
  ul.bg-slider&attributes(attributes)
    li(id="bg_id_1")
      img.bg-slider__img(src="img/bg_img_10.JPG")
    li(id="bg_id_2")
      img.bg-slider__img(src="img/bg_img_1.JPG" style="opacity: 1;")
    li(id="bg_id_3")
      img.bg-slider__img(src="img/bg_img_2.JPG")
    li(id="bg_id_4")
      img.bg-slider__img(src="img/bg_img_3.JPG")
    li(id="bg_id_5")
      img.bg-slider__img(src="img/bg_img_4.JPG")
    li(id="bg_id_6")
      img.bg-slider__img(src="img/bg_img_5.JPG")