mixin bg-slider(modifier)
  ul.bg-slider&attributes(attributes)
    li(id="bg_id_1" style="height: 0px;")
      img.bg-slider__img(src="img/bg_img_10.JPG")
    li(id="bg_id_2" style="height: 0px;")
      img.bg-slider__img(src="img/bg_img_1.JPG")
    li(id="bg_id_3" style="height: 0px;")
      img.bg-slider__img(src="img/bg_img_2.JPG")
    li(id="bg_id_4" style="height: 0px;")
      img.bg-slider__img(src="img/bg_img_3.JPG")
    li(id="bg_id_5" style="height: auto;")
      img.bg-slider__img(src="img/bg_img_4.JPG")
    li(id="bg_id_6" style="height: 0px;")
      img.bg-slider__img(src="img/bg_img_5.JPG")