extends ../templates/template.pug
block content
  +bg-slider(['img/bg_img_10.jpg', 'img/bg_img_1.jpg', 'img/bg_img_2.jpg', 'img/bg_img_3.jpg', 'img/bg_img_4.jpg', 'img/bg_img_5.jpg'])
  +header
  +front 
  +footer(class="mt-100")