extends ../templates/template.pug
block content
  +bg-slider(['img/bg_img_1.jpg', 'img/bg_img_2.jpg', 'img/bg_img_3.jpg', 'img/bg_img_4.jpg', 'img/bg_img_5.jpg'])
  +header
  +front(['АМБИЦИИ НЕ ПОДОЖДУТ', 'НАУКА БЛИЖЕ, ЧЕМ КАЖЕТСЯ', 'АЛГОРИТМ УСПЕХА', 'КОМАНДНАЯ РАБОТА', 'КАЖДОМУ ПОД СИЛУ'], ['Пробный текст для отображения блоков. Еще пробный текст для отображения блоков. И еще пробный текст в большом при большом количестве - мноооогоооо тееексста !!!.', 'Траляляляля', 'Траляляляля', 'Траляляляля', 'Траляляляля'], ['#', '#', '#', '#', '#']).mt-30
  +footer(class="mt-100")