mixin front(modifier)
  .front&attributes(attributes)
    .container
      .row
        .col-xl-5.col-lg-7.col-md-8.col-sm-10
          ul
            li
              .front__caption(name="caption-1")
                h1.front__caption__title АМБИЦИИ НЕ ПОДОЖДУТ
                p.front__caption__discr Пробный текст для отображения блоков. Еще пробный текст для отображения блоков. И еще пробный текст в большом при большом количестве - мноооогоооо тееексста !!!.
            li
              .front__caption(name="caption-2")
                h1.front__caption__title АМБИЦИИ ПОДОЖДУТ
                p.front__caption__discr Пробный текст для отображения блоков. Еще пробный текст для отображения блоков. И еще пробный текст в большом при большом количестве - мноооогоооо тееексста !!!.
