.front 
{
  
  z-index: -3;
  
  .container 
  {
    min-height: 500px;
    z-index: -3;

    // управление списком заголовков слайдов
    ul
    {
      list-style: none;
      padding-inline-start: 0px;
      margin-left: 0;
      li.front__caption-container 
      {
        //display: inline;
        display: none;
        //первый активный заголовок 
        &[name='caption-2']
        {
          display: block;
        }

        @include media-breakpoint-down(xs)
        {
          text-align: center;
          
        }

        // отображение кнопок "подробнее"
        .btn-arrow-title
        {
          display: inline-block;

          
        }
      }
    }
  }

  
  &__caption
  {
    min-height: 250px;
    background-color: $primary;
    padding: 20px 20px 10px;
    

    &__title
    {
      font-family: $font-futura;
      font-size: 55px;
      line-height: 45px;
      font-weight: bold;

      color: #ffffff;

      @include media-breakpoint-down(lg)
      {
        font-size: 50px;
      }
      @include media-breakpoint-down(md)
      {
        font-size: 44px;
      }
      @include media-breakpoint-down(sm)
      {
        font-size: 34px;
      }
      @include media-breakpoint-down(xs)
      {
        text-align: center;
        font-size: 18px;
        line-height: 20px;
      }
    }

    &__discr
    {
      font-family: 'Arial'; 
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      color: #ffffff;
      text-align: left;
    }
  }

  // ui управления слайдера
  &__slider-switcher
  {
    min-width: 30px;
    height: 130px;
    position: relative; 
    text-align: center;
    background-color: rgba(255, 255,255, 0.4);
    box-shadow: 0 0 15px rgba(255, 255,255, 0.4);

    @media all and (max-width: 650px)
    {
      background-color: rgba(255, 255,255, 0);
      box-shadow: none;
    }

    &__mask
    {
      display: inline-block;
      overflow: hidden;

      height: 130px;

      @include media-breakpoint-down(xl)
      {
        width: 79.5%;
      }
      @include media-breakpoint-down(lg)
      {
        width: 79.7%;
      }
      @include media-breakpoint-down(md)
      {
        width: 76.5%;
      }
      @media all and (max-width: 650px)
      {
        display: none;
      }
      @include media-breakpoint-down(sm)
      {
        width: 62%;
      }
      

      &__list
      {
        position: relative;
        display: block;
        width: 3000px;
        height: 130px;
        list-style: none;
        text-align: center;
        padding-left:0;
        //background: black;

        &__item
        {
          display: block;
          float: left;
          margin: 0 10px 0 0;
          width: 95px;
          height: 130px;

          //background: red;
          font-size: 15px;

          border: 3px solid $primary;
          background: $primary;
          cursor: pointer;
          
          // Отображение активного и ссылочных слайдов при отсутствии смещения
          .front__slider-switcher__mask__list[data-bias="false"] > &:nth-child(2)
          {
            border: 3px solid white;
            color: pink;
          }
          .front__slider-switcher__mask__list[data-bias="false"] > &:nth-child(1),
          .front__slider-switcher__mask__list[data-bias="false"] > &:nth-child(3)
          {
            cursor: pointer;

            @include transitionM(border-color, 0.3s)
            &:hover
            {
              border: 3px solid white;
              @include transitionM(border-color, 0.3s)
            }
          }


          // Отображение активного и ссылочных слайдов при смещения
          .front__slider-switcher__mask__list[data-bias="true"] > &:nth-child(3)
          {
            border: 3px solid white;
            color: pink;
          }
          .front__slider-switcher__mask__list[data-bias="true"] > &:nth-child(2),
          .front__slider-switcher__mask__list[data-bias="true"] > &:nth-child(4)
          {
            cursor: pointer;

            @include transitionM(border-color, 0.3s)
            &:hover
            {
              border: 3px solid white;
              @include transitionM(border-color, 0.3s)
            }
          }

          img
          {
            margin-top: 5px;
            background-color: $light_primary;
            user-select: none;
          }

          &__title
          {
            color: white;
            margin-top: 4px;
            padding: 5px;
            font-family: $font-futura;
            font-size: 13px;
            //font-weight: bold;
            text-align: left;
            line-height: 14px;
            cursor: pointer;
            user-select: none;
          }

        }

        &:after 
        {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }
      }

    }

    &__btn
    {
      position: absolute;
      width: 40px;
      height: 130px;

      background: rgba(250,250,250, 0) url(../img/btn-next.svg) no-repeat;
      background-position: center center;
      opacity: 0.8;

      &:hover
      {
        cursor: pointer;
      }
      &[id='slider-btn-left']
      {
        left: 0px;
      }
      &[id='slider-btn-right']
      {
        right: 0px;
        transform:scaleX(-1);
      }

      //@media all and (max-width: 650px)
      @include media-breakpoint-down(xs)
      {
        position: fixed;
        top: 148px;
      }
    }
  }
}
