mixin front(titles, discs, hrefs, modifier)
  .front&attributes(attributes)
    .container
      .row
        .col-xl-5.col-lg-6.col-md-8.col-sm-10.offset-lg-0.offset-md-0.offset-sm-1
          ul
            each title, index in titles
              li.front__caption-container(name="caption-"+String(index+1))
                .front__caption
                  h1.front__caption__title=titles[index]
                  p.front__caption__discr=discs[index]
                +btn-arrow-title('COLOR_BLUE', 'ПОДРОБНЕЕ', '#')(name="btn-more-"+String(index+1))
      .row
        .col-xl-4.col-lg-5.col-md-7.col-sm-10.offset-xl-1.offset-lg-1.offset-md-1.offset-sm-1
          .front__slider-switcher
            .front__slider-switcher__mask
              ul.front__slider-switcher__mask__list(data-bias="false")
                each title, index in titles
                  li.front__slider-switcher__mask__list__item(data-index=String(index+1))
                    img(src="img/item_img_"+String(index+1)+".jpg" width="81" height="65")
                    p.front__slider-switcher__mask__list__item__title=titles[index]
            a.front__slider-switcher__btn(id='slider-btn-left')
            a.front__slider-switcher__btn(id='slider-btn-right')