mixin header(modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content.mx-auto
            nav.header__up-menu
              ul.mr-15
                li.up-m-btn
                  a Пресс-служба
                li.up-m-btn
                  a O нас
                li.up-m-btn
                  a Будь первым!
              form.header__signin-form
                input.up-menu-input(type="text" placeholder="Логин")
                input.up-menu-input(type="password" placeholder="Пароль")
                input.btn_si.ml-3(type="submit", value="Войти")
                input.btn_si.ml-1(type="submit", value="Регистрация")
            +logo
            .header__btn-mini-menu(id="id_head-min-menu") ГЛАВНОЕ МЕНЮ
            nav.header__menu
              ul
                li
                  a.header__menu__btn(href="#" name="main") ОБ УЧРЕЖДЕНИИ
                li
                  a.header__menu__btn(href="#" name="activity") ДЕЯТЕЛЬНОСТЬ
                li
                  a.header__menu__btn(href="#" name="for_students") УЧЕНИКАМ
                li
                  a.header__menu__btn(href="#" name="documents") ДОКУМЕНТЫ
                li
                  a.header__menu__btn(href="#" name="contact") КОНТАКТЫ