mixin header(modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content.mx-auto
            nav.header__up-bar
              +btn-arrow('DIR_DOWN').mr-10(id="btn-show-up-menu")
              ul.header__up-bar__up-menu.mr-15
                li.header__up-bar__up-menu__btn(name="btn-1")
                  a Пресс-служба
                li.header__up-bar__up-menu__btn(name="btn-2")
                  a O нас
                li.header__up-bar__up-menu__btn(name="btn-3")
                  a Будь первым!
              form.header__up-bar__signin-form
                input.header__up-bar__signin-form__input(type="text" placeholder="Логин")
                input.header__up-bar__signin-form__input(type="password" placeholder="Пароль")
                input.header__up-bar__signin-form__btn.ml-3(type="submit", value="Войти")
              +btn-mini('COLOR_YELLOW', 'Регистрация').ml-5
            +logo
            .header__btn-mini-menu(id="id_head-min-menu") ГЛАВНОЕ МЕНЮ
            nav.header__menu
              ul
                li
                  a.header__menu__btn(href="#" name="main") ОБ УЧРЕЖДЕНИИ
                li
                  a.header__menu__btn(href="#" name="activity") ДЕЯТЕЛЬНОСТЬ
                li
                  a.header__menu__btn(href="#" name="for_students") УЧЕНИКАМ
                li
                  a.header__menu__btn(href="#" name="documents") ДОКУМЕНТЫ
                li
                  a.header__menu__btn(href="#" name="contact") КОНТАКТЫ