.header 
{
   

  // ---- Контейнер -----
  &__content 
  {
    // for inline-block childs
    font-size: 0;
    min-height: 150px;
    max-width: 1220px;
    
    @media all and (max-width:1270px)
    {
      max-width: 980px;
    }
    @media all and (max-width:1050px)
    {
      text-align: center;
      max-width: 720px;
    }
    @media all and (max-width:780px)
    {
      text-align: center;
      max-width: 720px;
    }

  }
  
  // ---- Верхняя панель-контейнер -----  
  &__up-bar
  {
    display: block;
    width: 100%;
    height: 33px;

    // for inline-block inside
    text-align: right;
    position: relative;
    
    // кнопка вызова главного меню при разрешении < 1050px
    .btn-arrow 
    {
      display: none;
       
      @media all and (max-width:1050px)
      {
        display: inline-block;
      }
    }

    // ---- Верхнее меню -----
    &__up-menu
    {
      display: inline-block;
      padding-inline-start: 0;
      font-size: 0;
      z-index: 101;
      vertical-align: top;
      @media all and (max-width:1050px)
      {
        display: none;
        position: absolute;
        margin-left: 50%;
        left: -100px;
        top: 34px;
      }
      
      &__btn
      {
                 
          height: 33px;
          
          background: $primary;
          text-align: center;

          padding-left: 10px;
          padding-right: 10px;
          padding-top: 10px;
      


          font-size: 11px;
          vertical-align: middle;
          color: #fff;
          @include transitionM(color, 0.3s);
            
          &:hover
          {
            cursor: pointer;
            color: $primary_yellow;
            @include transitionM(color, 0.3s);
          }
        
        display: inline-block;
        min-width: 80px;
        border-right: 1px solid #4670db;
        &:last-child
        {
          border-right: none;
        }
        
        @media all and (max-width:1050px)
        {
          display: block;
          min-width: 200px;
          z-index: 10;
          border: 1px solid #4670db;
          
          &:hover
          {
            background-color: $light_primary;
          }
        }

      }
    }

    // ---- iu авторизации при разрешении > 780px -----
    &__signin-form
    {
        display: inline-block;
        height: 33px;
        
        //for i-b
        font-size: 0px;

        &__input
        {
          display: inline-block;
          //display: none;
          height: 25px;
          width: 80px;
          font-size: 11px;
          color: $gray;
          padding-left: 3px;
          
          vertical-align: middle;

          @include placeholder($gray, $font-family-sans-serif, 11px, 300);
        }

        &__btn
        {
          display: inline-block;
          height: 33px;
          min-width: 60px;
          font-size: 11px;
          background: $primary_yellow;
          color: $primary;
          vertical-align: middle;

          @include transitionM(background-color, 0.3s);
                
          &:hover
          {
            cursor: pointer;
            background: $dark_primary_yellow;
            @include transitionM(background-color, 0.3s);
                  
          }
        }
      
      @media all and (max-width: 600px)
      {
        display: none;
      }

    }

    // ---- Кнопка авторизации в модальном окне -----
    #id_btn-sign-in-modal
    {
      
      display: none;
      
      @media all and (max-width: 600px)
      {
        display: inline-block;
      }
    }

  }

  
  // ---- Лого -----
  #container_logo //.cont_logo
  { 
    display: inline-block;
    perspective: 25px;
    #inner_logo //a.logo
    {
      transition: transform 0.5s;

      display: inline-block;
      z-index: 100;
      box-shadow: 0 0 10px rgba(7, 40, 77, 0.5);
      
      @media all and (max-width:780px)
      {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  // ---- Кнопка вызова главного меню (при разрешении < 600) -----
  &__btn-mini-menu
  {
    display: none;

    @media all and (max-width:600px)
    {
      display: block;
      margin: 0 auto;
      width: 170px;
      height: 40px;   

      background: $primary;
      color: #fff;
      font-family: 'Futura Condensed';
      font-weight: bold;
      font-size: 17px;
      padding-top: 9px;   

      box-shadow: 0 0 7px rgb(0,0,0);

      &:hover
      {
        cursor: pointer;
        color: $primary_yellow;
      }
    }
  }

  // ---- Главное меню -----
  &__menu
  {
    z-index: 100;
    display: inline-block;
    
    min-height: 56px;

    background: $primary;
    
    margin-bottom: 9px;
    vertical-align: bottom;

    //box-shadow: 3px 0 7px rgb(0,0,0);
    box-shadow: 0 0 7px rgb(0,0,0);
    
      width: 1050px;
    
    @media all and (max-width:1270px)
    {
      //display: inline-block;
      width: 810px;
    }
    @media all and (max-width:1050px)
    {
      //display: inline-block;
      width: 550px;
    }
    @media all and (max-width:780px)
    {
      width: 550px;
      box-shadow: 0 0 7px rgb(0,0,0);
    }
    @media all and (max-width:600px)
    {
      display: none;
      position: absolute;
      left: 50%;
      margin-left: -85px;
      margin-top: 10px;
      width: 170px;
      box-shadow: 0 0 7px rgb(0,0,0);
    }

    ul
    {
      display: inline-block;
      width: 100%;
      padding-inline-start: 0px;
      margin-bottom: 0px;
      li
      {
        display: inline;
        text-align: center;

       &:before 
       {
         content: "";
         display: inline-block;
         height: 100%;
         vertical-align: middle;
       }

      }
      
      
        height: 56px;
      
      @media all and (max-width:600px)
      {
        height: 100%;
      
      }
    }

    &__btn
    {
      display: inline-block;
      

      font-family: 'Futura Condensed';
      font-weight: bold;
      font-size: 17px;
      color: #fff;
      margin-left: 40px;
      margin-right: 0px;
      vertical-align: middle;

      @include transitionM(color, 0.3s);

      &:hover
      {
        color: $primary_yellow;
        @include transitionM(color, 0.3s);
      }


      
        min-width: 150px;
      @media all and (max-width: 1270px)
      {
        min-width: 100px;
      }
      @media all and (max-width:1050px)
      {
        min-width: 50px;
        margin-left: 15px;
        margin-right: 15px;        
      }
      @media all and (max-width:600px)
      {
        display: block;
        height: 40px;
        padding-top: 9px;

        border-top: 1px solid $gray;

        // убираем бордер у верхней копки
        li:nth-child(1) > & 
        {
          border-top: none;
        }
      }
    
    }
  }

  
}
