.header 
{
  //box-shadow: 0 2px 10px rgba(85, 85, 85, 0.25);
  
  &__content 
  {
    // for inline-block childs
    font-size: 0;
    //text-align: center;

    //background: rgba(255, 255,255,0.5);
    min-height: 150px;
    max-width: 1220px;
    
    /* Пример медиа-запроса. Подробнее здесь: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints */
    @include media-breakpoint-down(md) 
    {
      //padding: 10px 0;
    }

    @media all and (max-width:1270px)
    {
      max-width: 980px;
    }
    @media all and (max-width:1050px)
    {
      text-align: center;
      max-width: 720px;
    }
    @media all and (max-width:780px)
    {
      text-align: center;
      max-width: 720px;
    }

  }
  
  &__up-bar
  {
    display: block;
    width: 100%;
    height: 33px;

    // for inline-block inside
    text-align: right;

    &__up-menu
    {
      display: inline-block;
      padding-inline-start: 0;
      font-size: 0;
      
      vertical-align: top;

      &__btn
      {
        
        min-width: 80px;
        height: 33px;
        display: inline-block;
        //color: #fff;
        background: $primary;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;

        &:nth-child(1),
        &:nth-child(2)
        {
          border-right: 1px solid #4670db;
        }

        font-size: 11px;
        vertical-align: middle;
        color: #fff;
        @include transitionM(color, 0.3s);
          
        &:hover
        {
          cursor: pointer;
          color: $primary_yellow;
          @include transitionM(color, 0.3s);
        }
      }
    }


    &__signin-form
    {
      display: inline-block;
      height: 33px;
      
      //for i-b
      font-size: 0px;

      &__input
      {
        display: inline-block;
        //display: none;
        height: 25px;
        width: 80px;
        font-size: 11px;
        color: $gray;
        padding-left: 3px;
        
        vertical-align: middle;

        @include placeholder($gray, $font-family-sans-serif, 11px, 300);
      }

      &__btn
      {
        display: inline-block;
        height: 33px;
        min-width: 60px;
        font-size: 11px;
        background: $primary_yellow;
        color: $primary;
        vertical-align: middle;

        @include transitionM(background-color, 0.3s);
              
        &:hover
        {
          cursor: pointer;
          background: $dark_primary_yellow;
          @include transitionM(background-color, 0.3s);
                
        }
      }
    }
  }

  

  a.logo
  {
    display: inline-block;
    z-index: 100;
    box-shadow: 0 0 10px rgba(7, 40, 77, 0.5);

    @media all and (max-width:780px)
    {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__btn-mini-menu
  {
    display: none;

    @media all and (max-width:600px)
    {
      display: block;
      margin: 0 auto;
      width: 170px;
      height: 40px;   

      background: $primary;
      color: #fff;
      font-family: 'Futura Condensed';
      font-weight: bold;
      font-size: 17px;
      padding-top: 9px;   

      box-shadow: 0 0 7px rgb(0,0,0);

      &:hover
      {
        cursor: pointer;
        color: $primary_yellow;
      }
    }
  }

  &__menu
  {
    z-index: 1;
    display: inline-block;
    width: 1050px;
    min-height: 56px;

    background: $primary;
    
    margin-bottom: 9px;
    vertical-align: bottom;

    box-shadow: 3px 0 7px rgb(0,0,0);

    
    @media all and (max-width:1270px)
    {
      //display: inline-block;
      width: 810px;
    }
    @media all and (max-width:1050px)
    {
      //display: inline-block;
      width: 550px;
    }
    @media all and (max-width:780px)
    {
      //display: inline-block;
      box-shadow: 0 0 7px rgb(0,0,0);
    }
    @media all and (max-width:600px)
    {
      display: none;
      position: absolute;
      left: 50%;
      margin-left: -85px;
      margin-top: 10px;
      width: 170px;
      box-shadow: 0 0 7px rgb(0,0,0);
    }

    ul
    {
      display: inline-block;
      margin-bottom: 0px;
      height: 56px;
      width: 100%;
      padding-inline-start: 0px;
      li
      {
        display: inline;
        text-align: center;

       &:before 
       {
         content: "";
         display: inline-block;
         height: 100%;
         vertical-align: middle;
       }

      }
      
      @media all and (max-width:600px)
      {
        height: 100%;
      }
    }

    &__btn
    {
      display: inline-block;
      min-width: 150px;

      font-family: 'Futura Condensed';
      font-weight: bold;
      font-size: 17px;
      color: #fff;
      margin-left: 40px;
      margin-right: 0px;
      vertical-align: middle;

      @include transitionM(color, 0.3s);

      &:hover
      {
        color: $primary_yellow;
        @include transitionM(color, 0.3s);
      }

      @media all and (max-width: 1270px)
      {
        min-width: 100px;
      }
      @media all and (max-width:1050px)
      {
        min-width: 50px;
        margin-left: 15px;
        margin-right: 15px;
        
      }
      @media all and (max-width:600px)
      {
        display: block;
        height: 40px;
        padding-top: 9px;

        border-top: 1px solid $gray;

        // убираем бордер у верхней копки
        li:nth-child(1) > & 
        {
          border-top: none;
        }
      }
    
    }
  }

  
}
