mixin header(modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content.mx-auto
            nav.header__up-bar
              .header__up-bar__btn-show-up-menu.mr-10
              ul.header__up-bar__up-menu.mr-15
                li.header__up-bar__up-menu__btn
                  a Пресс-служба
                li.header__up-bar__up-menu__btn
                  a O нас
                li.header__up-bar__up-menu__btn
                  a Будь первым!
              form.header__up-bar__signin-form
                input.header__up-bar__signin-form__input(type="text" placeholder="Логин")
                input.header__up-bar__signin-form__input(type="password" placeholder="Пароль")
                input.header__up-bar__signin-form__btn.ml-3(type="submit", value="Войти")
                input.header__up-bar__signin-form__btn.ml-1(type="submit", value="Регистрация")
            +logo
            .header__btn-mini-menu(id="id_head-min-menu") ГЛАВНОЕ МЕНЮ
            nav.header__menu
              ul
                li
                  a.header__menu__btn(href="#" name="main") ОБ УЧРЕЖДЕНИИ
                li
                  a.header__menu__btn(href="#" name="activity") ДЕЯТЕЛЬНОСТЬ
                li
                  a.header__menu__btn(href="#" name="for_students") УЧЕНИКАМ
                li
                  a.header__menu__btn(href="#" name="documents") ДОКУМЕНТЫ
                li
                  a.header__menu__btn(href="#" name="contact") КОНТАКТЫ